/*Add CSS styling below*/


div {
	width: 800px;
	background-color: #006363;
	font-family: Verdana;
}


nav {
	height: 150px;
	width: 150px;
	float: left;
	background-color: #FFD073;
}

a {
	color: #A64B00;
	font-weight: bold;

}

header {
	height: 100px;
	color: white;
	width: 800px;
	background-color: #009999;
	float: left;
	text-align: center;
	font-size: 20px;
	padding-top: 0px;
}

h1 {
	margin-top: 0px;
	font-size: 32px;
	color: white;
}

article {
	font-size: 14px;
}



h2 {
	color: #FFAA00;
	font-size: 20px;
	font-weight: bold;
	padding: 120px 0px 15px 170px;
}

li {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	color: #A64B00;
	height: 60px;
	background-color: #FFD073;
	font-size: 12px;
}

p {
	margin-left: 170px;
	color: white;
}

#Nope {
	margin-left: 20px;
}
